.messages.messages--scheduler-publishmsg {
    color: #333333;
    border-color: #5ecadd #5ecadd #5ecadd transparent;
    background-color: #d7f9ff;
    background-image: url(images/calendar.svg);
    background-size: 16px 16px;
    box-shadow: -8px 0 0 #333333;
}
.messages.messages--scheduler-unpublishmsg {
    color: #333333;
    border-color: #4f372d #4f372d #4f372d transparent;
    background-color: #fff6f2;
    background-image: url(images/unpublish.svg);
    background-size: 16px 16px;
    box-shadow: -8px 0 0 #333333;
}
.messages.messages--contentlock {
    color: #000000;
    border-color: #EEEEEE #EEEEEE #EEEEEE transparent;
    background-color: #EEEEEE;
    background-image: url(images/lock.svg);
    background-size: 16px 16px;
    box-shadow: -8px 0 0 #333333;
}
.form-item {
    padding: 3px 0;
}
.form-checkboxes .form-item, .form-radios .form-item {
    padding: 2px 0;
}